<?xml version="1.0" encoding="utf-8" ?>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     throwExceptions="true">
    <extensions>
      <add assembly="Alice.Common.Services.Dataservice"/>
    </extensions>
    <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
   <targets>
     <target name="SqlLiteDatabaseTarget" xsi:type="SqlLiteDatabaseTarget" SplitSize="3" MaxArchiveFiles="3" />
     <target name="Developer" xsi:type="File" layout="${Message}" fileName="${logDirectory}/Developer.log"
             archiveFileName="${logDirectory}/{#}.log" archiveNumbering="DateAndSequence" archiveDateFormat="yyyy-MM-dd"
             archiveAboveSize="104857600" maxArchiveFiles="10"/>
   </targets>
   <rules>
     <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="SqlLiteDatabaseTarget" />
     <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="Developer" />
 </rules>
 </nlog>


<!-- Levels: 
    Fatal	Highest level: important stuff, errors that should never ever happen
    Error	Handled errors
    Warn	Incorrect behavior but the application can continue
    Info	Normal behavior like mail sent, user updated profile etc.
    Debug	Executed queries, user authenticated, session expired
    Trace	Begin method X, end method X etc
    --!>